{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой проект{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'first/css/main.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <nav>
        <a href="{% url 'first:home' %}">Главная</a>
        <a href="{% url 'first:products' %}">Товары</a>
        <a href="{% url 'first:product_new' %}">Новый товар</a>
        <a href="{% url 'first:counter' %}">Счётчик</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>
